 <%
=begin%>
 <form action="/users" method="post" accept-charset="UTF-8">
  <label for="username"> Username: </label>
  <input type="text" name="user[username]"><br>
  <label for="email"> Email: </label>
  <input type="email" name="user[email]"><br>
  <label for="password"> Password: </label>
  <input type="password" name="user[password]"><br>
  <label for="password_confirmation"> Confirmation: </label>
  <input type="password" name="user[password_confirmation]">
  <input type="submit" value="Submit">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>  
<%
=end%>

<h1>Something</h1>
<%
=begin%>
 <%= form_tag('/users', method: :post) do -%>
  <div><%= text_field_tag 'username' %></div>
  <div><%= email_field_tag 'email' %></div>
  <div><%= password_field_tag 'password' %></div>
  <div><%= password_field_tag 'password_confirmation' %></div>
  <div><%= submit_tag 'Save' %></div>
<% end -%> 
<%
=end%>

<%= form_for @user do |form|%>
  <%= form.label :username, 'Your username'%>
  <%= form.text_field :username, placeholder: "Your name here" %>
  <%= form.email_field :email, value: "foo@bar.com" %>
  <%= form.password_field :password %>
  <%= form.password_field :password_confirmation %>
  <%= form.submit %>
<% end%>